/**
 * Bootstrap overrides
 */
body {
    background-color: #de4949;
}
h1, h2, h3, h4, p, div, body {
    color: #f9f9f9;
    font-family: arial, sans-serif;
}
h1, h2, h3 {
    text-align: center;
}
.btn-primary {
    background-color: #389076;
    border-color: #f9f9f9;
}
.btn-primary:hover {
    background-color: #389076;
    border-color: #f9f9f9;
    text-decoration: underline;
}
.row {
    margin-bottom: 20px;
}
.table {
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    color: #444;
}

/**
 * Components
 */
.title {
    text-align: center;
    margin-top: 60px;
}
.title__main {
    font-weight: bolder;
    font-size: 72px;
    letter-spacing: .1em;
}
.title__sub {
    font-size: 24px;
}
.title__separator {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.btn-start {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 24px;
    margin-top: 40px;
}

.game-input {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    height: 48px;
    letter-spacing: .1em;
}

.info-panel {
    margin-top: 2em;
    text-align: center;
}
.info-panel__detail {
    font-size: 24px;
    font-weight: bold;
}
.info-panel--main .info-panel__detail {
    font-size: 40px;
}
.scores-page {
    text-align: center;
}

.panel--rule, .panel--rule .panel-body {
    color: #444;
    border-radius: 0;
    border: 0;
}
.panel--rule .panel-title {
    background-color: #e9e9e9;
    border-top: 5px solid #389076;
    font-weight: bold;
    padding: .5em 1em;
}
.skip-link {
    color: #f9f9f9;
    text-decoration: underline;
    background: none;
    border: 0;
}